.typ-control-bar {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  height: 2.5em;
  display: flex;
  align-items: center;
  color: #fff;
  &::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    height: 4.5em;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 0.5))
    );
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.5) 100%
    );
    background-repeat: repeat-x;
    z-index: -1;
  }
  .typ-control-btn {
    cursor: pointer;
    color: #fff;
    height: 100%;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    .typfont {
      font-size: 1.6em;
    }
  }

  .typ-control-txt {
    font-size: 0.66em;
  }

  .typ-progress-control {
    cursor: pointer;
    flex: auto;
    display: flex;
    align-items: center;
    height: 100%;
    .typ-progress-slider {
      cursor: pointer;
      margin: 0 10px;
      position: relative;
      padding: 0;
      margin: 0 0.45em 0 0.45em;
      -webkit-touch-callout: none;
      user-select: none;
      background-color: #73859f;
      background-color: rgba(115, 133, 159, 0.5);
      height: 2px;
      flex: auto;
    }
    .typ-load-progress{
      position: absolute;
      display: block;
      height: 100%;
      margin: 0;
      padding: 0;
      width: 0;
      left: 0;
      top: 0;
      background: #bfc7d3;
      background: rgba(115,133,159,.7);
      width: 20.3559%;
    }

    .typ-play-progress{
      position: absolute;
      display: block;
      height: 100%;
      margin: 0;
      padding: 0;
      width: 0;
      left: 0;
      top: 0;
      background-color: #fff;
      width: 4.87%;

      &::before{
        display: block;
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 6px;
        border: 1px solid #fff;
        background-color: #fff;
        position: absolute;
        right: -3px;
        top: -3px;
        z-index: 1;
      }
    }
  }
}

.typ-playing .typicon-bofangqi-bofang:before {
  content: "\e6a5";
}
